@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{

	margin: 0;
	padding: 0;
}
body {
	background: white;
	font-family: 
}
.logo {
	width: 50px;
	height: 30px;
}
.header-wrapper .navbar-toggler{
  border: solid 2px #dc3545;
}
.header-wrapper .navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1.2em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.menu-navbar-nav .nav-item{
	margin: 0px 12px 0px 12px;
}
.menu-navbar-nav .nav-link{
	color: black;
	font-size: 14px;
  font-family: 'Poppins';
  letter-spacing: 2px;
}
.menu-navbar-nav .nav-link:hover{
	color: tomato;
}
.header-wrapper .navbar-brand{
	color: black;
	font-size: 18px;
	font-family: 'FontAwesome';
	letter-spacing: 4px;
}
.carousel-imagess {
  background-image:url(../images/img5.jpg);
  width: 100%;
  height: 601px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-texts{
	padding-top: 200px;
}
.top-texts .heading-one{
	font-size: 45px;
	color: white;
	font-weight: bold;
	font-family: 'Poppins' sans-serif;
}
.top-texts .paragraph-one{
	font-size: 18px;
	color: white;
	font-weight:300;
	font-family: 'Poppins';
}
.our-services {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}
.our-services h3 {
    font-weight: 600;
    color: blue;
    font-size: 35px;
    margin-top: 30px;
    letter-spacing: 10px;
    font-family: fangsong;
}
.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}
.service a {
  color: #5b7abb;
  display: block;
}
.service h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}
.services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.service {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}
.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}
.service1 i,
.service1 h4,
.service1 .cta {
  color: #42b7ca;
}
.service1:hover {
  border: 2px solid #42b7ca;
}
.service2 i,
.service2 h4,
.service2 .cta {
  color: #425fca;
}
.service2:hover {
  border: 2px solid #425fca;
}
.service3 i,
.service3 h4,
.service3 .cta {
  color: #9c42ca;
}
.service3:hover {
  border: 2px solid #9c42ca;
}
.service .cta span {
  font-size: 0.6rem;
}
.service > * {
  flex: 1 1 100%;
}
.service .cta {
  align-self: flex-end;
}
#icon {
  margin-left: 20px;
  margin-top: 5px;
}
.about-me {
	padding: 40px 0px 50px 0px;
}
.about-me .about-text {
	margin-top: 40px;
  font-family: 'Poppins';
  padding: 0px 100px 0px 0px;
  letter-spacing: 2px;
  color: black;
  font-size: 18px;
}
.img-thumbnail {
	width: 100%;
	height: 300px;
}
.img-thumbnail:hover{
	cursor: pointer;
	transform: scale(1.1);  
}
.img-responsive:hover{
	cursor: pointer;
	transform: scale(1.1);  
}
.col-md-4 img {
  margin-top: 20px;
}
.heading {
  display: inline-block;
  background-color: #fff;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 20px 0px;
  border: 1px solid #777;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
}
#about {
  margin-top: 0;
}
.img-circle {
    border: 1px solid #333;
    box-shadow: 2px 2px 2px #222, -1px -1px 2px #666, 2px -1px 1px #999, -2px 5px 8px #888;
    width: 250px;
    height: 250px;
}
.fa {
  color: black;
}
#social {
  margin: 30px 0 0 30px;
}
#social a {
  margin-right: 30px;
}
.copy-left {
  display: inline-block;
  transform: rotateY(180deg);
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sec-title {
  position: relative;
  padding-bottom: 40px;
}
.title .contact-top{
  color: #00b8ca;
  font-size: 40px;
  font-weight: bold;
  padding-right: 50px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: 'Poppins';
  letter-spacing: 4px;
  text-align: center;
}
.sec-title h2 {
  position: relative;
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: block;
}
.sec-title.light h2 {
  color: #fff;
}
.contact-page-section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}
.contact-page-section .inner-container {
  position: relative;
  z-index: 1;
  background-color: #00b8ca;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
.contact-page-section .form-column {
  position: relative;
  padding: 0 0 0 15px;
}
.contact-page-section .form-column .inner-column {
  position: relative;
  padding: 60px 45px 30px;
  background-color: #fff;
}
.contact-page-section .info-column {
  position: relative;
}
.contact-page-section .info-column .inner-column {
  position: relative;
  padding: 60px 35px;
}
.contact-page-section .info-column h2 {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 45px;
}
.contact-page-section .info-column .list-info {
  position: relative;
  margin-bottom: 60px;
}
.contact-page-section .info-column .list-info li {
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  padding-left: 40px;
}
.contact-page-section .info-column .list-info li:last-child {
  margin-bottom: 0;
}
.contact-page-section .info-column .list-info li i {
  position: absolute;
  left: 0;
  top: 8px;
  color: #fff;
  font-size: 25px;
}
.contact-form {
  position: relative;
}
.contact-form .form-group {
  position: relative;
  margin-bottom: 20px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  color: #222;
  font-size: 14px;
  line-height: 38px;
  padding: 10px 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: #00b8ca;
}
.contact-form textarea {
  height: 250px;
  resize: none;
}
.contact-form .theme-btn {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 16px 39px;
  border: 2px solid #dc3545;
  font-family: Arimo, sans-serif;
  background: #dc3545;
  display: inline-block;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  color: #fff;
}
.contact-form .theme-btn:hover {
  color: #00b8ca;
  border-color: #00b8ca;
  background: 0 0;
}
.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
  border-color: red !important;
}
.contact-form label.error {
  display: block;
  line-height: 24px;
  padding: 5px 0 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: red;
  font-weight: 500;
}
.social-icon-four {
  position: relative;
}
.social-icon-four li {
  position: relative;
  margin-right: 18px;
  display: inline-block;
}
.social-icon-four li.follow {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}
.social-icon-four li a {
  position: relative;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-icon-four li a:hover {
  color: #222;
}
.carousel-item img {
	width: 100%;
	height: 550px;
	margin-top: 50px;
	border-radius: 20px;
}
footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0;
}
footer .social_icon li,
footer .menu li {
  list-style: none;
  font-size: 13px;
}
footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  color: red;
}
footer .menu li a {
	font-size: 14px;
    color: black;
    margin: 0px 10px 0px -2px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
  color: #fff;
}
footer p {
  color: #eee;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
}
/*wave and animation*/
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.ibb.co/rZt4Nhg/wave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* ----- Start Media Quires ------- >>> */
@media only screen and (min-width: 320px) and (max-width: 768px)
{
	.navbar-brand {
		font-size: 14px;
    font-family: 'Poppins';
    letter-spacing: 2px;
	}
	.nav-link {
		font-size: 14px;
    font-family: 'Poppins';
    letter-spacing: 1px;
	}
	.carousel-item{
	  width: 100%;
	  height: 200px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	}
	.top-texts{
		padding-top: 35px;
		text-align: center;
	}
	.top-texts .heading-one{
		font-size: 25px;
		color: black;
		font-weight: bold;
		font-family: 'Poppins' sans-serif;
	}
	.top-texts .paragraph-one{
		font-size: 12px;
		color: white;
		font-weight:300;
		font-family: 'Poppins';
	}
	.services-grid {
	  display: -webkit-box;
	  display: flex;
	  -webkit-box-align: center;
	  align-items: center;
	  flex-direction: column;
	}
	.btn-get{
		font-size: 14px;
		margin-top: 10px;
	}
	.about-me {
    padding: 20px 0px 20px 0px;
	}
	.heading {  
	  background-color: #fff;
	  padding: 5px 10px 0px 10px;
	  margin: 0px 0px 0px 0px;
	  border: 1px solid #777;
	  border-radius: 15px;
	  box-shadow: 5px 5px 5px;
	}
	.heading h1 {
		font-size: 20px;
	}
	.about-me .about-text {
	  margin-top: 20px;
	  font-family: 'Poppins';
	  padding: 0px 10px 0px 10px;
	  letter-spacing: 2px;
	  color: black;
	  font-size: 14px;
	  text-align: justify;
	}
	.row .profile{
		text-align: center;
		margin-top: 20px;
	}
	.profile {
		margin: 0px 10px 0px 0px;
	}
	.img-circle {
	  border: 1px solid #333;
	  box-shadow: 2px 2px 2px #222, -1px -1px 2px #666, 2px -1px 1px #999, 
	  -2px 5px 8px #888;
	  width: 100%;
	  height: 260px;
	}
	.img-thumbnail {
	  width: 100%;
	  height: 150px;
	}
	.our-services h3 {
	  font-family: 'Poppins';
	  font-weight: 600;
	  color: forestgreen;
	  font-size: 25px;
	  margin: 10px 0px;
	  letter-spacing: 7px;
	}
	#sliders {
		margin: 0px 15px 0px 15px;
	}
	.our-services {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
	}
	.service{
		background: #fff;
	  margin: 10px 20px 10px 20px;
	  padding: 0px 0px 20px 0px;
	  border-radius: 4px;
	  text-align: center;
	  -webkit-box-flex: 1;
	  flex: 1;
	  display: -webkit-box;
	  display: flex;
	  flex-wrap: wrap;
	  border: 2px solid #e7e7e7;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  transition: all 0.3s ease;
	}
	.service h4 {
	  font-family: "Montserrat", sans-serif;
	  font-weight: 600;
	  color: #56ceba;
	  font-size: 18px;
	  margin: 0px 0px 10px 0px;
	}
	.section-lead {
	  margin-top: 20px;
	  font-family: 'Poppins';
	  padding: 0px 10px 0px 10px;
	  letter-spacing: 1px;
	  color: black;
	  font-size: 13px;
	  text-align: justify;
	}
	.contact-page-section {
	  position: relative;
	  padding-top: 20px;
	  padding-bottom: 40px;
	}
	.title {
		text-align: center;
	}
	.title .contact-top {
		font-family: 'Poppins';
	  font-weight: 600;
	  color: #00b8ca;
	  font-size: 25px;
	  margin: 10px 0px;
	  letter-spacing: 7px;
	  padding: 0px;
	}
	.sec-title h2 {
	  position: relative;
	  color: brown;
	  font-size: 22px;
	  font-weight: 700;
	  line-height: 1.5em;
	  display: block;
	  padding: 10px 25px 0px 25px;
	}
	.sec-title {
	  position: relative;
	  padding-bottom: 30px;
	}
	.contact-page-section .inner-container {
	  position: relative;
	  z-index: 1;
	  background-color: #00b8ca;
	  box-shadow: 0 0 15px 5px rgb(0 0 0 / 10%);
	  margin: 0px 10px 0px 10px;
	  border-radius: 40px;
	}
	.row {
	  display: flex;
	  flex-wrap: wrap;
	  margin-top: 0px;
	  margin-left: -12px;
	  margin-right: 0px;
	}
	.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
	  position: relative;
	  display: block;
	  width: 100%;
	  height: 60px;
	  color: #222;
	  font-size: 14px;
	  line-height: 38px;
	  padding: 10px 0px 10px 10px;
	  border: 1px solid #ddd;
	  background-color: #fff;
	  transition: all 0.3s ease;
	}
	.contact-page-section .form-column .inner-column {
	  position: relative;
	  padding: 60px 20px 0px 30px;
	  background-color: dimgray;
	  border-radius: 40px;
	}
	.contact-form .form-group {
	  position: relative;
	  margin-bottom: 20px;
	  text-align: center;
	}
	.contact-form .theme-btn {
	  font-size: 15px;
	  font-weight: 700;
	  margin-top: 10px;
	  text-transform: capitalize;
	  padding: 10px 30px;
	  border: 2px solid #dc3545;
	  font-family: Arimo, sans-serif;
	  background: #dc3545;
	  display: inline-block;
	  position: relative;
	  line-height: 24px;
	  cursor: pointer;
	  color: #fff;
	}
	.contact-page-section .info-column h2 {
		font-family: 'Poppins';
	  font-weight: 600;
	  color: #fff;
	  font-size: 19px;
	  letter-spacing: 6px;
	  padding: 0px;
	  margin-bottom: 20px;
	}
	.inner-column h2 {
		text-align: center;
	}
	.contact-page-section .info-column .inner-column {
	  position: relative;
	  padding: 30px 0px 0px 20px;
	}
	.contact-page-section .info-column .list-info {
		position: relative;
	  margin-bottom: 30px;
	  text-align: center;
	}
	.contact-page-section .info-column .list-info li {
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    padding-left: 0px;
	}
	.contact-page-section .info-column .list-info li i {
    position: inherit;
    top: 8px;
    left: 0;
    color: #fff;
    font-size: 25px;
    margin: 0px 15px 0px 0px;
	}
	.social-icon-four li.follow {
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    font-family: 'Poppins';
    display: block;
    margin-bottom: 20px;
    letter-spacing: 5px;
	}
	.carousel-item img {
    width: 100%;
    height: 550px;
    margin-top: 0px;
    border-radius: 0px;
	}
	.social-icon-four {
	  position: relative;
	  text-align: center;
	  margin-bottom: 25px;
	}
	.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
	}
	footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
	}
}